<strong>Olá, {{ student_name }}</strong>
<p>Sua dúvida foi respondida. Confira os detalhes abaixo:</p>
<p>
    <strong>Dúvida: </strong> {{question}} <br/>
    <strong>Resposta: </strong> {{answer}} <br/>
    <strong>Respondida em: </strong> {{answer_at}} <br/>
    <br />
</p>
